.accordionPart {
    width: 100%;
}

.accordionPart,
.accordionPart * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333334;
    display: none;
    justify-content: center;
    align-items: center;
}

.popin-btn-close {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #555556;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popin-btn-close:hover {
    background-color: #7b7b7c;
}

.popin img {
    height: 100vh;
}

.gallery-container {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.gallery-container .gallery-item {
    position: relative;
    background-color: #333334;
    height: 100%;
    /* 這裡調整每個寬度 */
    width: 33.33%;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: -5px 0 10px 1px rgba(0, 0, 0, 0.3);
}

.gallery-container .gallery-item__img {
    height: 100%;
}

.gallery-container .gallery-item__text {
    position: absolute;
    margin: auto;
    width: 100%;
    bottom: 33%;
    padding: 0;
    font-size: 4.5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
}

.gallery-container .gallery-item:hover {
    width: 80%;
}

.accordionPart .modal {
    z-index: 10000;
}

.modal-body {
    overflow: hidden;
}

.accordionPart .modal-body img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.modal-japan-div {
    bottom: 0;
    position: absolute;
    text-align: justify;
    background: #0000008c;
    color: white;
    padding: 2% 10%;
    font-size: 1.2rem;
}

.modal-japan-div h1 {
    border-left: white solid 15px;
    padding-left: 20px;
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 20px;
}

.accordionPart .btn-close {
    z-index: 100000;
    position: absolute;
    top: 5%;
    right: 2%;
    --bs-btn-close-opacity: 1;
    color: #fff;
    --bs-btn-close-bg: none;
    font-size: 1.5rem;
    width: auto;
    height: auto;
    border: white solid 1px;
    padding: 2px 20px;
    background: rgba(0, 0, 0, 0.427);
    opacity: 1;
}

.btn-close:hover {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .gallery-container {
        height: 55vh;
    }
    .gallery-container .gallery-item__text {
        font-size: 1.8rem;
        bottom: 90%;
        text-align: left;
        padding-left: 10px;
    }
    .modal-japan-div h1 {
        font-size: 3rem;
        font-weight: bolder;
    }
    .galleryFixedWidth {
        width: 100%;
        object-fit: cover;
    }
}

.galleryFixed {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 999999;
    width: 100% !important;
    height: 100% !important;
}

.galleryFixedWidth {
    width: 100%;
}

#textMing,
#textGuang,
#textKao,
#closeMing,
#closeGuang,
#closeKao {
    display: none;
    z-index: 999999;
    position: fixed;
}