.girl-slide {
    animation: slide 2s ease-out;
}

@keyframes slide {
    0% {
        margin-left: 100%;
    }
    20% {
        margin-left: 50%;
    }
}

.airplane-slide {
    animation: slideFromRight 2s ease-out;
    animation-delay: .3s;
}

@keyframes slideFromRight {
    0% {
        margin-left: -100%;
    }
}

.swing {
    transform-origin: top center;
    animation: swing 2s ease;
    animation-delay: 1.5s;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.floating {
    -webkit-animation: floating 4s infinite;
    -moz-animation: floating 4s infinite;
    -ms-animation: floating 4s infinite;
    animation: floating 4s infinite;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes floating {
    0% {
        transform: translate(-20px, 50px) rotate(-8deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(-30px, 50px) rotate(-10deg);
    }
}

.rotateAn {
    -webkit-animation: rotateAn 6s infinite;
    -moz-animation: rotateAn 6s infinite;
    -ms-animation: rotateAn 6s infinite;
    animation: rotateAn 6s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateAn {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.rotateBack {
    -webkit-animation: rotateBack 4.5s infinite;
    -moz-animation: rotateBack 4.5s infinite;
    -ms-animation: rotateBack 4.5s infinite;
    animation: rotateBack 4.5s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateBack {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.rotateSlow {
    -webkit-animation: rotateSlow 4s infinite;
    -moz-animation: rotateSlow 4s infinite;
    -ms-animation: rotateSlow 4s infinite;
    animation: rotateSlow 4s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateSlow {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}