/* 常用動畫區 */

.slidein {
    animation: 2.5s ease-out 0s 1 slidein;
}

@keyframes slidein {
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

.slideinUp {
    animation: 1s ease-out 0s 1 slideinUp;
}

@keyframes slideinUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.bounce2 {
    animation: bounce2 3s ease-out;
}

@keyframes bounce2 {
    0% {
        transform: translateY(-300px);
    }
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.scaling {
    animation: scaling 2s linear infinite;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.hithere {
    animation: hithere 4s ease;
}

@keyframes hithere {
    30% {
        transform: scale(1.1);
    }
    40%,
    60% {
        transform: rotate(-5deg) scale(1.1);
    }
    50% {
        transform: rotate(5deg) scale(1.1);
    }
    70% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.girl-slide {
    animation: slide 1.5s ease-out;
}

@keyframes slide {
    0% {
        margin-left: 150%;
    }
    10% {
        margin-left: 140%;
    }
    20% {
        margin-left: 50%;
    }
}

.airplane-slide {
    animation: slideFromRight 2s ease-out;
}

@keyframes slideFromRight {
    0% {
        margin-left: -120%;
    }
}

.swing {
    transform-origin: top center;
    animation: swing 2s ease infinite;
    animation-delay: 3s;
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.floating {
    -webkit-animation: floating 4s infinite;
    -moz-animation: floating 4s infinite;
    -ms-animation: floating 4s infinite;
    animation: floating 4s infinite;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -ms-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

@-webkit-keyframes floating {
    0% {
        transform: translate(-20px, 50px) rotate(-8deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    100% {
        transform: translate(-30px, 50px) rotate(-10deg);
    }
}

.rotateAn {
    -webkit-animation: rotateAn 6s infinite;
    -moz-animation: rotateAn 6s infinite;
    -ms-animation: rotateAn 6s infinite;
    animation: rotateAn 6s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateAn {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.rotateBack {
    -webkit-animation: rotateBack 4.5s infinite;
    -moz-animation: rotateBack 4.5s infinite;
    -ms-animation: rotateBack 4.5s infinite;
    animation: rotateBack 4.5s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateBack {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.rotateSlow {
    -webkit-animation: rotateSlow 4s infinite;
    -moz-animation: rotateSlow 4s infinite;
    -ms-animation: rotateSlow 4s infinite;
    animation: rotateSlow 4s infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
}

@-webkit-keyframes rotateSlow {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}