.eventPart {
  background-color: #ffefd6;
  height: 200vh;
  background-image: url("../img/cityMask.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  position: relative;
}

.activities {
  color: #8f5200;
  font-size: 2rem;
  line-height: 5rem;
}

.activitiesTitle {
  color: #8f5200;
  font-size: 3rem;
  line-height: 4rem;
}

.stepCard {
  padding: 0rem 5rem;
  display: inline-block;
  margin-top: -5vh;
}

.stepCard h2 {
  color: #3f3d56;
  bottom: 30px;
  position: relative;
  left: 20%;
  font-size: 1.5rem;
}

.stepCard h2 span {
  background-color: #ffefd6;
  padding: 0 5px;
  color: #8f5200;
  font-weight: bolder;
  font-size: 3.5rem;
}

.stepCard p {
  color: #8f5200;
  margin-bottom: 0;
  padding: 2vh 3vw;
  text-align: start;
  font-size: 2rem;
}

.stepCardNumber {
  position: relative;
  display: block;
  top: 12rem;
  left: -3.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #8f5200;
  color: #fcdcb0;
  font-weight: bold;
  text-align: center;
  line-height: 8rem;
  font-size: 5rem;
}

.stepText {
  height: 230px;
  border: 2px solid #fff;
  display: grid;
  align-items: center;
  border-radius: 10px;
  padding: 0 3rem;
}

.clickFinish {
  width: 30%;
  margin-top: 10vh;
}

.suitcase {
  position: absolute;
  width: 40%;
  right: 1%;
  bottom: 6%;
}

.activitiesInfo {
  height: 14vh;
  margin: 4vh 0;
}

#exampleModal {
  z-index: 10000;
}

.modal-header,
.modal-footer {
  border: none !important;
}
.modalBuyToGet {
  width: 40%;
  margin-bottom: 2vh;
}

#zipcode3 {
  display: flex;
}

.custom-file-label::after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

.eventPart .form-control,
.eventPart .form-select,
.eventPart .address {
  border: 2px solid #4886a3;
  background-color: #fff;
  color: #4886a3;
  border-radius: 50px;
  margin: 1vh 0;
}

.eventPart .county,
.eventPart .district {
  background-color: #fff;
  color: #4886a3;
  border-radius: 50px;
  margin: 1vh 1vh 1vh 0;
}

.eventPart .text {
  border: 2px solid #4886a3;
  background-color: #fff;
  color: #4886a3;
  border-radius: 10px;
  margin: 1vh 0;
  text-align: start;
  padding: 2vh 3vh;
}

.eventPart .modal-dialog-scrollable .modal-content {
  max-height: 80%;
  overflow: hidden;
}

.eventPart .modal {
  opacity: 0.9;
}
.eventPart .modal-backdrop {
  background-color: #fff;
}

.eventPart .modal ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4886a3;
  opacity: 1; /* Firefox */
}

.eventPart .modal :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #4886a3;
}

.eventPart .modal ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #4886a3;
}

.form-select,
.eventPart .county select,
.eventPart .district select {
  appearance: none;
  background-color: #4886a3;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%2326749a'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-repeat: no-repeat;
  background-position: right 0.7rem top 60%;
  background-size: 1rem auto;
}

#inputGroupFile::file-selector-text {
  display: none;
}

.fileGroup label {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 2px solid #4886a3;
  background-color: #fff;
  border-radius: 50px;
  padding: 0.5vh 1.5vh;
  align-items: center;
}

#fileinp {
  position: absolute;
  left: 0;
  top: 10%;
  opacity: 0;
  width: 100%;
}

#btn {
  margin-right: 5px;
  background-color: #acacac;
  color: #fff;
  border: none;
  padding: 0.35vh 3vh;
}

#fileText {
  color: #4886a3;
}

/* #buyRoute {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#buyRoute option {
  color: #fff;
  background-color: #4886a3;
  opacity: 0.8;
  padding: 0.5vh;
  max-width: 90%;
  min-height: 2.2em;
} */

/* input.choose {
  width: 200px;
  height: 62px;
  font: 14px/22px "微软雅黑";
  color: #333;
  border: 1px solid #ededed;
}
.option {
  display: none;
  width: 200px;
  background: #073782;
  position: absolute;
  z-index: 99999;
}
.option ul {
  padding: 0;
}
.option ul li {
  list-style: none;
  width: 100%;
  line-height: 45px;
  height: 45px;
  padding-left: 20px;
  color: #fff;
} */
