* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}

header .logoAirlines{
  width: 20%;
}

header .navbar {
  background-color: #f9f9f9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

header .text-item li a {
  color: #68a9e1 !important;
  font-weight: 900;
}

header .text-item li a:active {
  color: #68a9e1 !important;
}

header .icon-item a {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

main {
  text-align: center;
}



/* 1 */

main .banner {
  background-image: url("../img/sand-back.jpg");
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 10vh;
}

.online img {
  width: 40vw;
  margin: 0 0 2vh 0;
}

.date img {
  width: 20vw;
}

.title img {
  width: 65vw;
  margin: 2vh 0 0 0;
}

.cloudRight-two {
  position: absolute;
  top: 35%;
  right: 0%;
}

.cloudRight-one {
  position: absolute;
  top: 90%;
  right: 15%;
}

.cloudLeft-two {
  position: absolute;
  top: 80%;
  left: 9%;
  width: 25vw;
}

.earthPart {
  display: flex;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}

.earthPart img {
  position: absolute;
}

.travel-around {
  /* margin-top: 15vh; */
  margin-top: 10%;
  z-index: 11;
  width: 60%;
}

.girl {
  width: 25%;
  /* margin-top: 22vh;
    margin-left: 5vw; */
  margin-top: 12%;
  margin-left: 5%;
}

.airplane {
  width: 45%;
  /* margin-top: 30vh; */
  margin-top: 18%;
  margin-left: 0;
}

.earth {
  width: 30%;
  /* margin-top: 28vh; */
  margin-top: 15%;
}

.chanceYellow {
  width: 20%;
  /* margin-top: 6vh;
    margin-left: 20vw; */
  margin-top: 5%;
  margin-left: 25%;
}

/* 2 */

.part2 {
  position: relative;
}

.leaf-left {
  position: absolute;
  left: 0;
  top: 50%;
  width: 15%;
}

.leaf-right {
  position: absolute;
  right: 0;
  top: 30%;
  width: 18%;
}

.purpleBtn {
  margin-top: 65vh;
  width: 35%;
}

.buyToGet {
  width: 40%;
  margin: 8vh 0 5vh 0;
}

.activityTitle {
  color: #108db6;
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 30px;
}

.activityInfo {
  color: #108db6;
  font-size: 2rem;
  line-height: 4rem;
}

.doublePlane {
  padding: 0px 20px;
  background-color: #108db6;
  color: #fcff00;
}

/* 3 */

.carouselPart {
  position: relative;
  margin-top: 10%;
}

.starfish {
  margin-right: 20%;
  top: 20%;
  width: 15%;
}

.ring {
  position: absolute;
  left: 55%;
  top: -10%;
  width: 15%;
}

.shell {
  position: absolute;
  right: 18%;
  top: 60%;
  width: 12%;
}

.tree {
  position: absolute;
  right: 0;
  top: -25%;
  width: 20%;
}

.starfishBlue {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 15%;
}

.signUpTitle {
  margin-top: 4%;
  height: 12vh;
}

/* main .banner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  margin-top: 82px;
} */

.imgBackground-one {
  height: 380vh;
  /* padding: 5vh 0; */
  padding: 2% 0 0 0;
}

.show-mobile {
    display: none;
}

@media (min-width: 992px) {
  .text-item li a {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
  .text-item li:before {
    content: "|";
    float: left;
    color: #68a9e1;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  }
  .text-item li:first-child:before {
    display: none;
  }
}

/* 粉圓體 */

@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff)
      format("woff");
}

.pearlFont {
  font-family: "FakePearl-Regular";
}


@media screen and (max-width: 800px) {
    main .banner {
        background-size: auto 100%;
    }
    header .navbar {
        width: 100vw;
    }
    .online img {
        width: 90%;
        margin: 0 0 1vh 0;
    }
    .imgBackground-one {
        height: 200vh;
        background-size: auto 100%;
        /* padding: 5vh 0; */
        padding: 2% 0 0 0;
    }
    .date img {
        width: 50%;
    }
    .title img {
        width: 90%;
        margin: 1.5vh 0 0 0;
    }
    .earth {
        width: 70%;
        top: 30%;
    }
    .girl {
        width: 60%;
        top: 25%;
        left: 30%;
    }
    .airplane {
        width: 95%;
        top: 38%;
        left: 2.5%;
    }
    .travel-around {
        width: 95%;
        top: 38%;
    }
    .chanceYellow {
        width: 40%;
        margin-top: 17%;
    }
    .purpleBtn {
        margin-top: 45vh;
        width: 70%;
    }
    .leaf-right {
        top: 22%;
        width: 36%;
    }
    .leaf-left {
        top: 25%;
        width: 25%;
    }
    .signUpTitle {
        margin-top: 20%;
        height: 6vh;
    }
    .buyToGet {
        height: 6vh;
        width: auto;
        margin: 8vh 0 0 0;
    }
    .activityInfo {
        font-size: 1.5rem;
        line-height: 3.5rem;
    }
    .tree {
        top: -10%;
        width: 30%;
        right: -5%;
    }
    .ring {
        left: 35%;
        top: -6%;
        width: 20%;
    }
    .starfish {
        position: absolute;
        left: -12%;
        top: -10%;
        width: 35%;
    }
    .starfishBlue {
        left: 2%;
        top: -25%;
        width: 20%;
    }
    .shell {
        right: 25%;
        top: 4%;
        width: 18%;
    }
    .carouselPart {
        height: 80vh;
    }
    .show-mobile {
        display: block;
        height: 20px;
    }
}