* {
  padding: 0;
  margin: 0;
}

header .navbar {
  background-color: #f9f9f9;
}

header .text-item li a {
  color: #68a9e1 !important;
  font-weight: 900;
}

header .text-item li a:active {
  color: #68a9e1 !important;
}

header .icon-item a {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

main {
  text-align: center;
}

/* 1 */
main .banner {
  background-image: url("/img/background-1.png");
  width: 100%;
  background-repeat: no-repeat;
}

/* 2 */
/* main .banner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  margin-top: 82px;
} */

.imgBackground-one {
  height: 2250px;
  padding: 5vh 0;
}

@media (min-width: 992px) {
  .text-item li a {
    padding-left: 2vw !important;
    padding-right: 2vw !important;
  }
  .text-item li:before {
    content: "|";
    float: left;
    color: #68a9e1;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  }

  .text-item li:first-child:before {
    display: none;
  }
}
